*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --color1: #25274d;
    --color2: #464866;
    --color3: #aaabb8;
    --color4: #2e9cca;
}
  
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

header{
    width: 100%;
    background-color: var(--color1);
    padding: 1rem;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-text{
    color: white;
    margin-left: -1.2rem;
    font-size: 32px;
    text-shadow: 2px 2px 10px var(--color3);
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a{
    color: white;
}

a{
    text-decoration: none;
}

.nav-items div a:hover{
    color: var(--color4);
    transition: color 0.8s;
}

.hero-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: var(--color3);
    position: absolute;
    
    bottom: -15%;
    left: 0%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: var(--color1);
    font-weight: 500;
}

.role{
    color: var(--color2);
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink{
    background-color: var(--color4);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn-pink::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn-pink:hover::before{
    transform: scaleX(1);
}

.btn-pink:hover{
    color: black;
}

.hero-section-right{
    position: relative;
}

.icons{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter:grayscale(0.7);
    animation-name: scaleImage;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.user-image img{
    z-index: -1;
}

@keyframes scaleImage {
    0%{
        filter: grayscale(0.6);
        transform: scale(1);
    }

    100%{
        transform: scale(1.1);
        filter: grayscale(0);
        box-shadow: 3px 3px 9px black;
    }
}

.icon-bubbles{
    z-index: 1;
    bottom: -1rem;
    right: 0;
    animation-name: bubblesMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes bubblesMove {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(-25px);
    }
}

.icon-box{
    z-index: 1;
    top: -0.8rem;
    right: 1rem;
    animation-name: boxRotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes boxRotate {
    0%{
        transform: translateY(0px) rotateY(0deg);
    }

    100%{
        transform: translateY(-25px) rotateY(180deg);
    }
}

.icon-circle{
    z-index: 1;
    bottom: 0;
    left: 0;
    animation-name: circleMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes circleMove {
    0%{
        left: 0;
        bottom: 0;
    }

    100%{
        left: 2%;
        bottom: 6%;
    }
}

.icon-zigzag{
    z-index: 1;
    top: -1.5em;
    left: -0.3em;
    animation-name: zigzagMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes zigzagMove {
    100%{
        left: 0.2%;
        top: 0.3%;
    }
}

.icon-spiral{
    z-index: 1;
    top: -0.8rem;
    left: 50%;
    animation-name: spiralMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes spiralMove {
    50%{
        transform: translate(5px,10px);
        transform: rotateZ(-90deg);
    }

    100%{
        transform: translate(0px,0px);
        transform: rotateZ(-180deg);
    }
}

.project-section{
    margin-top: 4rem;
    background-color: var(--color3);
}

.page-header{
    color: var(--color4);
    text-align: center;
    font-size: 90px;
    padding-top: 30px;
}

.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card{
    width: 90%;
    height: 550px;
    /* background-image: url(projects/Project1.png); */
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,var(--color1),#25274dbe,#25274d7c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scale(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card:hover .project-number{
    opacity: 1;
}

.project-number-right{
    right: -20px;
    top: -45px;
}

.project-number-left{
    left: -20px;
    top: -45px;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 3;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left{
    left: 10%;
}

.project-content-right{
    right: 10%;
}

.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill{
    width: 40px;
}

.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-sub-heading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-group{
    display: flex;
    gap: 0.9rem;
    align-items:center;
}

.icon{
    color: white;
    font-size: 35px;
    transition: color 0.4s;
}

.icon:hover{
    color: var(--color4);
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

#project1{
    margin-left: 120px;
    background-size: 100% 100%;
    background-image: url(projects/RazorpayProject.PNG);
}

#project2{
    margin-right: 120px;
    background-size: 100% 100%;
    background-image: url(projects/TicTacToeProject.PNG);
}

.skills-container{
    position: relative;
    display: flex;
    padding: 0.5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    justify-content: center;

    gap: 2rem;
}

.skill-fade-text{
    position: absolute;
    font-size: 15em;
    font-weight: bold;
    color: var(--color3);
    bottom: -72.5%;
    right: -2%;
    user-select: none;
}

.blob-style{
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: -1;
    animation: blob 1.5s linear infinite alternate;
}

@keyframes blob {
    100%{
        top: 27%;
        left: 23%;
    }
}

.skills-logo{
    height: 100px;
    width:90px;
    transition: scale 0.5s;
}
  
.skills-logo:hover{
    transform:scale(1.2);
}
  
.skill-heading{
    font-size:50px;
    font-style: bold;
    color: var(--color4);
    line-height: 50px;
}
  
.caps{
    font-size:90px;
}
  
.skill-subHeading{
    margin-top: 1rem;
    width:85%;
    text-align: justify;
}
  
.skill-subHeading p{
    margin:15px 0;
}

.contactus-form-container{
    width: 100%;
    background-color: var(--color3);
}

.contactus-heading{
    color: var(--color4);
    font-size: 5em;
    padding-top: 2rem;
}

.contactus-sub-heading{
    font-size: 3em;
    color: #25274daa;
    text-transform: capitalize;
}

.contactus-form{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formfield-container{
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    width: 70%;
    margin: 2rem 5rem;
}

.formfield{
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin: 17px;
}

.formfield-textarea{
    height: auto;
}

#submit-btn{
    font-size: 1.4rem;
    margin: 1rem 0;
    border: none;
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    background-color: var(--color1);
    padding: 5rem;
}

.footer-wrapper{
    display: flex;
    gap: 1em;
    padding: 1.2em;
    justify-content: space-between;
    align-items: center;
}

.footer-fade-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--color2);
    user-select: none;
    font-size: 5em;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: color 0.6s;
}

.link-wrapper div a:hover{
    color: var(--color4);
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}